<ul class="pager">
  <li class="first">
    <a title="Go to first page" href="#">« first</a>
  </li>
  <li class="previous">
    <a title="Go to previous page" href="#">‹ previous</a>
  </li>
  <li>
    <a title="Go to page 1" href="#">1</a>
  </li>
  <li>
    <a title="Go to page 2" href="#">2</a>
  </li>
  <li>
    <a title="Go to page 3" href="#">3</a>
  </li>
  <li>
    <a title="Go to page 4" href="#">4</a>
  </li>
  <li class="current">5</li>
  <li>
    <a title="Go to page 6" href="#">6</a>
  </li>
  <li class="next">
    <a title="Go to next page" href="#">next ›</a>
  </li>
  <li class="last">
    <a title="Go to last page" href="#">last »</a>
  </li>
</ul>
